.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.new-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.failure-image {
  height: 200px;
  width: 250px;
}
.retry-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
}
.video-ul-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100vh;
}

.hidden-scrollbar {
  overflow: auto;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
