.banner-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  height: 250px;
  padding: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.website-logo {
  height: 40px;
}
.banner-heading {
  font-size: 20px;
}
.banner-btn {
  background-color: transparent;
  padding: 5px;
}
.banner-close-btn {
  align-self: flex-start;
  cursor: pointer;
  font-size: 20px;
}
