.header-website-logo {
  height: 40%;
}
.header-elements-container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 90%;
  align-items: center;
}

.profile-logo {
  height: 37px;
}

@media screen and (min-width: 768px) {
  .header-elements-container {
    width: 30%;
  }
  .mobile-view {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop-view {
    display: none;
  }
}
